no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
!
hostname {{item.hostname}}
!
interface loopback 0
 ip address {{item.loopback}}
!
enable secret {{item.enable_secret}}
boot-start-marker
boot-end-marker
!
logging buffered 32000
no logging console
